#import <Foundation/Foundation.h>
#import <WebKit/WebKit.h>

NS_ASSUME_NONNULL_BEGIN

@interface PeerSkyContentBlocker : NSObject

+ (instancetype)shared;
- (void)setEnabled:(BOOL)enabled;
- (void)loadRuleFiles:(NSArray<NSURL *> *)ruleFiles
         snapshotName:(NSString *)snapshotName
            completion:(void (^)(NSError * _Nullable error))completion;
- (void)configureWebView:(WKWebViewConfiguration *)configuration;

@end

NS_ASSUME_NONNULL_END
