#import <react-native-webview/RNCWebViewImpl.h>
#import <react-native-webview/RNCWebViewManager.h>
#import <React/RCTViewManager.h>

#import "PeerSkyContentBlocker.h"

@interface RNCWebViewImpl (PeerSkyConfiguration)
- (WKWebViewConfiguration *)setUpWkWebViewConfig;
@end

@interface PeerSkyWebViewImpl : RNCWebViewImpl
@end

@implementation PeerSkyWebViewImpl

- (WKWebViewConfiguration *)setUpWkWebViewConfig
{
  WKWebViewConfiguration *configuration = [super setUpWkWebViewConfig];
  [[PeerSkyContentBlocker shared] configureWebView:configuration];
  return configuration;
}

@end

@interface PeerSkyWebViewManager : RNCWebViewManager
@end

@implementation PeerSkyWebViewManager

RCT_EXPORT_MODULE(PeerSkyWebView)

- (UIView *)view
{
  return [PeerSkyWebViewImpl new];
}

@end
